node_modules
client/public/compiled

env/config.js
env/credentials.js
server/dbInfo.js
server/seedDb.js


node_modules

.idea/workspace.xml

./polly/credentials.json

/client/public/audio



.DS_Store

